@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #3498db;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

.active-link {
    text-decoration: underline;
}

.posts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.post {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1rem;
}
